@font-face {
  font-family: serifa;
  src: url('fonts/Serifa 55 Roman.ttf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
  background-color: white;
}

/* link color and decoration*/
a {
  color: #4292c6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.site-link {
  font-size: 18px;
  color: #303030;
  webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.site-link:hover {
  color: #807dba;
  text-decoration: none;
}

.nav-link{
  padding: 5px;
  border-radius: 7px;
  color: #303030;
  background-color: white;
  webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}
.nav-link:hover {
  color: white;
  background-color: #807dba;
  text-decoration: none;
}

.site-title {
  font-family: serifa;
  letter-spacing: -1px;
}
.site-header .site-title {
  font-size: 28px;
  line-height: 65px;
  display: block;
  vertical-align: middle;
  float: left;
  position: relative;
  z-index: 1;
}
.site-footer .site-title {
  font-size: 24px;
}

.wrap:before,
.wrap:after { content: ""; display: table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.site-header {
  border-top: 5px solid #303030;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  min-height: 65px;
}

.site-nav {
  float: right;
  line-height: 65px;
}

.site-nav .menu-icon { display: none; }

.site-nav .site-link {
  margin-left: 20px;
  font-size: 20px;
}

.site-footer {
  border-top: 1px solid #e0e0e0;
  border-bottom: 5px solid #303030;
  padding: 15px 0;
  background-color: #f0f0f0;
  text-align: left
}

.site-footer .fa-fw {
  text-align: left;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.footer-top {
  margin-bottom: 15px;
  font-size: 22px;
}
.footer-bottom {
  font-size: 15px;
  color: #555555
}

.site-footer ul { list-style: none; }
.site-footer li { display: inline; }

.page-content {
  padding: 30px 0;
  background-color: #ffffff;
}

header h1 {
  font-size: 34px;
  letter-spacing: -1.75px;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 28px;
  letter-spacing: -1.125px;
}

.post-content h4 {
  font-size: 24px;
  letter-spacing: -1px;
}

.post-content h5 {
  font-size: 20px;
  letter-spacing: -0.875px;
}

.post-content h6 {
  font-size: 16px;
  letter-spacing: -0.75px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: auto;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #303030;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #303030; }

.post figcaption {
  text-align: center;
}

.post img,
.post iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post img.halfw {
  width: 50%;
}
.post img.tqw {
  width: 75%;
}
.post img.fullw {
  width: 100%;
}

/* Main Page */
.img-bucky {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}


